p,ul,h2,ol {
    margin:0;
    padding:0;
}


body {
    margin: 10px;
    background-color: white;
    font-size: 15px;
    line-height: 1.5;
}

header {
    background-color: #50b3a2;
    color: aliceblue;
    padding: 10px 0;
    text-align: center;
}

#name {
    margin:10px 0;
}

#introduction{
    font-size:18px;
    margin:20px;
}

main{
    display:flex
    flex-direction: column;
    gap: 30px;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.mainsection{
    display:flex;
    flex-direction: column;
    gap: 20px;
}

.main-section > h2{
    background-color: rgb(65, 65, 65);
    color:aliceblue;
    padding: 10px;
    margin: 0;
}

.contact-section {
    gap:10px
}

.contact-section > p{
    margin: 0 0 0 20px
}

#socials-div {
    display:flex;
    justify-content: space-around;
}

ul,ol {
    padding: 0 20px
}

.projects-section ol {
    list-style-type: upper-alpha;
}